:root {
  --background: #1f2223;
  --surface: #181a1b;
  --primary: var(--surface);
  --accent: #6637b3;
  --accent-blue: #579ec1;
  --text: #c7c8c8;
}

html,
body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

a {
  text-decoration: none;
  color: var(--text);
}
